.discount {
    color: #146eb4;
    width: 20px;
}

.custom-card:hover {
    /*border: 2px solid #146eb4;*/
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.day {
    color: #ff7800;
}